@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

#app {
    height: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
