@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  background-color: #fafafa;
  height: 100vh;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}
